body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff6600, #002f6c);
    color: white;
}

.card {
    background: rgba(0,0,0,0.8);
    padding: 35px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: orange;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: red;
    transform: scale(1.05);
}

.switch span {
    color: yellow;
    cursor: pointer;
}

/* Loader Animation */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
